
/* about  */
.about-us{
    position: relative;
    padding: 2rem;
  }
  .home-about{
      border: 1px solid black;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50px;
      display: flex;
      margin: 40px 30px 0 30px;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  .about-right{
      color: white;
      /* background-image: linear-gradient(to right,rgba(255, 0, 0, 0.571),rgba(0, 0, 0, 0.808)); */
      background-color: var(--about-bg);
  }
  .about-left{
      background-color: white;
      padding: 0 15px;
  }
  .about{
      padding: 0 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      /* background-color: rgb(144, 134, 112); */
      height: 100%;
      h2{
          padding: 18px 0 10px 0;
          color: var(--about-title);
      }
      h6{
        font-size: large;
        font-weight: 400;
        line-height: normal;
          span{
              color: yellow;
              padding-right: 3px;
          }
      }
  }