/* carousel  */
.carousel{
    width: 100vw;
}
.c-item {
    height: 89vh;
  }
  
  .c-img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .carousel-text{
    margin-top: 2em;
  }